.contact-section {
  padding: clamp(30px, 5.185vw, 80px) 0 clamp(30px, 4.444vw, 60px);
  background-color: rgba(var(--bg-e),1.0);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 3.333vw, 45px);
    align-items: center;
  }
}
