.hero-section {
  padding: 30px 0 0px;
  background-color: rgba(var(--bg-a),1.0);
  position: relative;

  @include mobile {
    padding: 30px 0px;
  }

  &::before {
    width: Min(48.594vw);
    height: Min(33.385vw);
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background-image: var(--hero-coner);
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;

    @include mobile {
      width: 100vw;
      height: 85vw;
      background-size: 100% 100%;
      pointer-events: none;
    }
  }


  &__box {
    display: grid;
    grid-template-columns: 1fr calc(Min(42.56vw, 532px) - 70px);
    grid-gap: 20px 0;

    @include mobile {
      grid-template-columns: 100%;
    }
  }

  &__image {
    width: calc(Min(42.56vw, 532px));
    display: flex;
    align-items: flex-end;
    @include mobile {
      width: initial;
      height: auto;
    }
  }

  &__content {
    @include for-tablet {
      padding-top: Min(4.8vw, 60px);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: flex-start;
    grid-gap: clamp(25px, 2.963vw, 45px) clamp(20px, 6.24vw, 78px);

    @include tablet {
      grid-template-columns: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: clamp(35px, 5.926vw, 80px);
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px 20px;
  }

  &__accent {
    grid-column: span 2;
  }
}
