.whom-section {
  padding: clamp(30px, 6.815vw, 92px) 0 40px;
  background: rgba(var(--bg-e),1.0);
  overflow: hidden;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(50px, 6.667vw, 90px);
    overflow: hidden;
    margin-bottom: -45px;
  }

  &__image {
    margin-top: calc((clamp(50px, 6.667vw, 90px) - 20px) * -1);
  }
}
