<footer>
  <div class="container">
    <div class="footer">
      <span class="footer__link">
        © 2022 Все права защищены.
      </span>
      <a href="#" class="footer__link" data-btn-modal="2">
        Договор оферты
      </a>
      <a href="#" class="footer__link" data-btn-modal="1">
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>

<div class="overlay" data-overlay>

    <div class="modal" data-popup="1">
        <div class="modal__box" role="dialog" aria-modal="true">
          <button class="close modal__close" aria-label="Закрыть модальное окно">
            <svg width='15' height='15'>
              <use href='img/sprite/sprite.svg#close'></use>
            </svg>
          </button>
        </div>
        <ul class="modal-box">
          <li class="modal-box__item">
            <span class="modal-box__title">
              Политика конфиденциальности
            </span>
            <p>
              Соблюдение Вашей конфиденциальности важно для нашей компании. Поэтому мы разработали Политику Конфиденциальности, которая описывает, как используется и хранится Ваша информация. Пожалуйста, ознакомьтесь и сообщите нам, если у Вас возникнут какие-либо вопросы.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Сбор и использование персональной информации
            </span>
            <p>
              Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От Вас может быть запрошено предоставление персональной информации в любой момент, когда Вы связываетесь с нами.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Какую персональную информацию мы собираем
            </span>
            <p>
              Соблюдение Вашей конфиденциальности важно для нашей компании. Поэтому мы разработали Политику Конфиденциальности, которая описывает, как используется и хранится Ваша информация. Пожалуйста, ознакомьтесь и сообщите нам, если у Вас возникнут какие-либо вопросы. Когда Вы оставляете заявку на сайте, мы можем собирать различную информацию, включая Ваше имя, номер телефона, адрес электронной почты и т.д.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Как мы используем Вашу персональную информацию
            </span>
            <p>
              Персональная информация позволяет нам сообщать об уникальных предложениях, акциях и других мероприятиях, и ближайших событиях. Время от времени мы можем использовать Вашу персональную информацию для отправки важных уведомлений и сообщений. Мы также можем использовать персональную информацию для внутренних целей: проведения аудита, анализа данных и различных исследований в целях улучшения услуг. Если Вы принимаете участие в розыгрыше призов или конкурсе, мы можем использовать информацию для управления такими программами.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Раскрытие информации третьим лицам
            </span>
            <p>
              Мы не раскрываем полученную от Вас информацию третьим лицам.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Исключения
            </span>
            <p>
              В соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории РК. Мы также можем раскрывать информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка или иных общественно важных случаях. В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Защита персональной информации
            </span>
            <p>
              Мы предпринимаем меры предосторожности, включая административные, технические и физические для защиты Вашей персональной информации от утраты, кражи и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.
            </p>
          </li>
          <li class="modal-box__item">
            <span class="modal-box__title">
              Соблюдение Вашей конфиденциальности на уровне компании
            </span>
            <p>
              Чтобы убедиться, что Ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников и строго следим за исполнением мер соблюдения конфиденциальности.
            </p>
          </li>
        </ul>
    </div>
    <div class="modal" data-popup="2">
      <div class="modal__box" role="dialog" aria-modal="true">
        <button class="close modal__close" aria-label="Закрыть модальное окно">
          <svg width='15' height='15'>
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>
      </div>
      <ul class="modal-box">
        <li class="modal-box__item">
          <span class="modal-box__title">
            Договор оферты
          </span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum obcaecati minus at totam incidunt ea, nesciunt quisquam sequi cupiditate voluptatum nulla deleniti, illum corporis maxime eaque nam eveniet reprehenderit nostrum.
            Unde hic atque alias aliquam tempora quia voluptatum eius exercitationem facere nostrum magni vero nam amet aperiam nihil, fugiat dolor minima! Delectus odio incidunt et vel fugit, at qui omnis!
            Amet labore earum eius blanditiis perspiciatis fugiat, dolores suscipit, cupiditate sequi iusto tempore ea reprehenderit ex nulla dolore facilis soluta, voluptatum expedita quaerat deleniti natus. Maxime repellat eveniet quod vel.
            Ullam porro impedit dolor blanditiis est, veniam quis quisquam quasi, dolorem perferendis accusamus. Odit modi excepturi reiciendis, repudiandae cumque quas animi quo, quidem ipsam vel distinctio, laboriosam ipsa ut tempora!
            Libero nobis fugit, repellendus ipsum in, neque voluptatem modi eveniet consequatur vel, eaque et cum magnam! Illo, corrupti? Dolorum dolore quia sunt nobis aspernatur eaque nostrum laboriosam quaerat iste pariatur!
          </p>
        </li>
      </ul>
  </div>
    <div class="modal" data-popup="done">
        <div class="modal__box" role="dialog" aria-modal="true">
          <button class="close modal__close" aria-label="Закрыть модальное окно">
            <svg width='15' height='15'>
              <use href='img/sprite/sprite.svg#close'></use>
            </svg>
          </button>
        </div>
        <div class="modal-box modal-box--done">
            <span class="modal-box__icon">
              <svg width='60' height='40'>
                <use href='img/sprite/sprite.svg#check'></use>
              </svg>
            </span>

            <p class="modal-box__alert">
              Заявка успешно отправлена!
            </p>
        </div>
    </div>

</div>
