<footer class="footer">
  <div class="container footer__container">
    <div class="footer-top">
      <div class="footer-top__inner">
        <a href="#" class="footer-logo">
          <img width="190" height="58" src="img/sprite/logo.svg" alt="nadiia.pl">
        </a>
        <p>
          Lorem ipsum dolor sit amet consectetur. At tortor ultricies egestas ac sed.
        </p>

        <div class="footer-top__wrapper">
          <ul class="footer-top__social social">
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#mail'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#fb'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#insta'></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#tg'></use>
                </svg>
              </a>
            </li>
          </ul>
          <ul class="footer-top__lang lang">
            <li class="lang__item">
              <a href="#" class="lang__link">
                UA
              </a>
            </li>
            <li class="lang__item">
              <a href="#" class="lang__link">
                RU
              </a>
            </li>
            <li class="lang__item">
              <a href="#" class="lang__link active">
                EN
              </a>
            </li>
            <li class="lang__item">
              <a href="#" class="lang__link">
                Pl
              </a>
            </li>
          </ul>
        </div>


      </div>

      <ul class="footer-nav" data-single='true' data-breakpoint='576' accordion-init>
        <li class="footer-nav__item">
          <button class='footer-nav__btn' data-id='1'>
            Section 1
            <svg width="12" height="9">
              <use href='img/sprite/sprite.svg#arrow-bottom'></use>
            </svg>
          </button>
          <div class='footer-nav__content' data-content='1'>
            <div class="footer-nav__inner">
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="footer-nav__item">
          <button class='footer-nav__btn' data-id='2'>
            Section 2
            <svg width="12" height="9">
              <use href='img/sprite/sprite.svg#arrow-bottom'></use>
            </svg>
          </button>
          <div class='footer-nav__content' data-content='2'>
            <div class="footer-nav__inner">
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="footer-nav__item">
          <button class='footer-nav__btn' data-id='3'>
            Section 3
            <svg width="12" height="9">
              <use href='img/sprite/sprite.svg#arrow-bottom'></use>
            </svg>
          </button>
          <div class='footer-nav__content' data-content='3'>
            <div class="footer-nav__inner">
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="footer-nav__item">
          <button class='footer-nav__btn' data-id='4'>
            Section 4
            <svg width="12" height="9">
              <use href='img/sprite/sprite.svg#arrow-bottom'></use>
            </svg>
          </button>
          <div class='footer-nav__content' data-content='4'>
            <div class="footer-nav__inner">
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
              <h3 class="footer-nav__title main-pretitle">
                For individuals
              </h3>
              <ul class="footer-nav__list">
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
                <li class="footer-nav__item">
                  <a href="#" class="footer-nav__link">
                    Subsection
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer-city" accordion-init>
      <ul class='footer-city__list' data-content='1'>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
        <li class='footer-city__item'>
          <a href="#" class="footer-city__link">
            City Name
          </a>
        </li>
      </ul>

      <button class='footer-city__btn' data-id='1'>
        See all cities
        <svg width="12" height="9">
          <use href='img/sprite/sprite.svg#arrow-bottom'></use>
        </svg>
      </button>
    </div>
    <form action="#" class="footer-form">
      <select name="name" id="name" class="custom-select" data-select>
        <option value="">Please select an option</option>
        <option value="1">Województwa</option>
        <option value="2">Zachodniopomorskie</option>
        <option value="3">Zachodniopomorskie</option>
        <option value="4">Warmińsko-Mazurski</option>
        <option value="5">Województwa</option>
        <option value="6">Zachodniopomorskie</option>
        <option value="7">Zachodniopomorskie</option>
        <option value="8">Warmińsko-Mazurski</option>
      </select>
      <select name="name" id="name" class="custom-select" data-select>
        <option value="">Please select an option</option>
        <option value="1">Województwa</option>
        <option value="2">Zachodniopomorskie</option>
        <option value="3">Zachodniopomorskie</option>
        <option value="4">Warmińsko-Mazurski</option>
        <option value="5">Województwa</option>
        <option value="6">Zachodniopomorskie</option>
        <option value="7">Zachodniopomorskie</option>
        <option value="8">Warmińsko-Mazurski</option>
      </select>
      <select name="name" id="name" class="custom-select" data-select>
        <option value="">Please select an option</option>
        <option value="1">Województwa</option>
        <option value="2">Zachodniopomorskie</option>
        <option value="3">Zachodniopomorskie</option>
        <option value="4">Warmińsko-Mazurski</option>
        <option value="5">Województwa</option>
        <option value="6">Zachodniopomorskie</option>
        <option value="7">Zachodniopomorskie</option>
        <option value="8">Warmińsko-Mazurski</option>
      </select>
      <button type="submit" class="footer-form__btn main-button main-button--transparent" disabled>
        Apply
      </button>
    </form>

    <ul class="footer__policy policy-list">
      <li class="policy-list__item">
        <a href="#" class="policy-list__link">
          Privacy Policy
        </a>
      </li>
      <li class="policy-list__item">
        <a href="#" class="policy-list__link">
          Cookie policy
        </a>
      </li>
      <li class="policy-list__item">
        <a href="#" class="policy-list__link">
          Terms and Conditions & Legal Disclaimer
        </a>
      </li>
    </ul>





  </div>
</footer>
<div class="overlay" data-overlay></div>
