<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rahmet</title>

    <link rel="preload" href="fonts/stolzl_thin.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/stolzl_lite.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/stolzl_book.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/stolzl_regular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/stolzl_medium.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/stolzl_bold.woff" as="font" crossorigin="anonymous">


    <link rel="stylesheet" href="css/style.css">
</head>
