.check-list {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px clamp(30px, 5.407vw, 73px);

  &__item {
    display: flex;
    align-items: baseline;
    grid-gap: 14px;

    svg {
      fill: rgba(var(--color-c),1.0);
      transform: translateY(25%);
    }

    p {
      font-size: 14px;
    }
  }
}
