.whom-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  grid-gap: clamp(30px, 3.185vw, 43px) clamp(20px, 7.407vw, 100px);

  @include laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
  }

  @include small-tablet {
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    width: 80%;
    margin: 0 auto;
  }

  @include mobile {
    width: 100%;
  }

  svg {
    fill: rgba(var(--color-c),1.0);
  }

  &__icon {
    @include dfc;
  }

  &__card {
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 2.148vw, 29px);
    align-items: center;
    width: fit-content;
    min-width: 223px;

    @include laptop {
      width: 100%;
    }

    @include small-tablet {
      min-width: initial;
    }
  }

  &__item {


    p {
      font-size: clamp(16px, 1.333vw, 18px);
      font-weight: 400;
    }

    &:nth-child(1) {
      grid-column:  2;
      @include laptop {
        grid-column: initial;
      }
    }

    &:nth-child(2) {
      grid-column: span 2;
      width: 312px;

      @include laptop {
        grid-column: initial;
        width: initial;
      }
    }
    &:nth-child(3) {
      grid-row: 2;

      @include laptop {
        grid-row: initial;
      }
    }
  }
}
