/* ===============================
=            Choices            =
=============================== */
/* =====  End of Choices  ====== */
.choices {
	position: relative;
	overflow: hidden;
	margin-bottom: 24px;
	font-size: 16px;
	&:focus {
		outline: none;
	}
	&:last-child {
		margin-bottom: 0;
	}
	[hidden] {
		display: none !important;
	}
}
.choices.is-open {
	overflow: visible;
}
.choices.is-disabled {
	.choices__inner {
		background-color: #eaeaea;
		cursor: not-allowed;
		-webkit-user-select: none;
		user-select: none;
	}
	.choices__input {
		background-color: #eaeaea;
		cursor: not-allowed;
		-webkit-user-select: none;
		user-select: none;
	}
	.choices__item {
		cursor: not-allowed;
	}
}
.choices[data-type*=select-one] {
	cursor: pointer;
	.choices__inner {
		padding-bottom: 7.5px;
	}
	.choices__input {
		display: block;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid #ddd;
		background-color: transparent;
		margin: 0;
	}
	.choices__button {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='7' fill='none'%3E%3Cpath fill='%23AAA' d='M5.7.9a.4.4 0 0 0-.6 0l-2 2L1 1a.4.4 0 0 0-.6 0 .4.4 0 0 0 0 .6l2 2-2 2a.4.4 0 0 0 0 .6.4.4 0 0 0 .6 0l2-2 2.1 2a.4.4 0 0 0 .5.1.4.4 0 0 0 .2-.4.4.4 0 0 0-.1-.3l-2-2 2-2c.2-.2.2-.5 0-.6Z'/%3E%3C/svg%3E");
		padding: 0;
		background-size: 8px;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -10px;
		margin-right: 15px;
		height: 20px;
		width: 20px;
		border-radius: 10em;
		opacity: 0.25;
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
			box-shadow: 0 0 0 2px #00bcd4;
		}
	}
	.choices__item[data-value=""] {
		.choices__button {
			display: none;
		}
	}
	&::after {
		content: "";
		height: 11px;
		width: 7px;
		// border-style: solid;
		// border-color: #333 transparent transparent transparent;
		// border-width: 5px;
		position: absolute;
		right: 11.5px;
		top: 50%;
		margin-top: -2.5px;
		pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none'%3E%3Cpath fill='%23FDFDFD' d='m.5 1 1-1L6 4.9 10.5 0l1 1L6 7 .5 1Z'/%3E%3C/svg%3E");
	}
}
.choices[data-type*=select-one].is-open {
	&::after {
		border-color: transparent transparent #333 transparent;
		margin-top: -7.5px;
	}
}
.choices[data-type*=select-one][dir=rtl] {
	&::after {
		left: 11.5px;
		right: auto;
	}
	.choices__button {
		right: auto;
		left: 0;
		margin-left: 25px;
		margin-right: 0;
	}
}
.choices[data-type*=select-multiple] {
	.choices__inner {
		cursor: text;
	}
	.choices__button {
		position: relative;
		display: inline-block;
		margin-top: 0;
		margin-right: -4px;
		margin-bottom: 0;
		margin-left: 8px;
		padding-left: 16px;
		border-left: 1px solid #008fa1;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
		background-size: 8px;
		width: 8px;
		line-height: 1;
		opacity: 0.75;
		border-radius: 0;
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
		}
	}
}
.choices[data-type*=text] {
	.choices__inner {
		cursor: text;
	}
	.choices__button {
		position: relative;
		display: inline-block;
		margin-top: 0;
		margin-right: -4px;
		margin-bottom: 0;
		margin-left: 8px;
		padding-left: 16px;
		border-left: 1px solid #008fa1;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==");
		background-size: 8px;
		width: 8px;
		line-height: 1;
		opacity: 0.75;
		border-radius: 0;
		&:hover {
			opacity: 1;
		}
		&:focus {
			opacity: 1;
		}
	}
}
.choices__inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background-color: var(--select-inner-bg);
	padding: 7.5px 7.5px 3.75px;
	border: 1px solid var(--select-inner-border);
	border-radius: 2.5px;
	font-size: 14px;
	min-height: 44px;
	overflow: hidden;
}
.is-focused {
	.choices__inner {
		border-color: #b7b7b7;
	}
}
.is-open {
	.choices__inner {
		border-color: var(--select-focus-border);
		border-radius: 2.5px 2.5px 0 0;
	}
	.choices__list--dropdown {
		border-color: var(--select-focus-border);
	}
	.choices__list[aria-expanded] {
		border-color: var(--select-focus-border);
	}
}
.is-flipped.is-open {
	.choices__inner {
		border-radius: 0 0 2.5px 2.5px;
	}
}
.choices__list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.choices__list--single {
	display: inline-block;
	padding: 4px 16px 4px 4px;
	width: 100%;
	.choices__item {
		width: 100%;
	}
}
[dir=rtl] {
	.choices__list--single {
		padding-right: 4px;
		padding-left: 16px;
	}
	.choices__list--multiple {
		.choices__item {
			margin-right: 0;
			margin-left: 3.75px;
		}
	}
	.choices__list--dropdown {
		.choices__item {
			text-align: right;
		}
	}
	.choices__list[aria-expanded] {
		.choices__item {
			text-align: right;
		}
	}
	.choices__input {
		padding-right: 2px;
		padding-left: 0;
	}
}
.choices__list--multiple {
	display: inline;
	.choices__item {
		display: inline-block;
		vertical-align: middle;
		border-radius: 20px;
		padding: 4px 10px;
		font-size: 12px;
		font-weight: 500;
		margin-right: 3.75px;
		margin-bottom: 3.75px;
		background-color: #00bcd4;
		border: 1px solid #00a5bb;
		color: #fff;
		word-break: break-all;
		box-sizing: border-box;
	}
	.choices__item[data-deletable] {
		padding-right: 5px;
	}
	.choices__item.is-highlighted {
		background-color: #00a5bb;
		border: 1px solid #008fa1;
	}
}
.is-disabled {
	.choices__list--multiple {
		.choices__item {
			background-color: #aaaaaa;
			border: 1px solid #919191;
		}
	}
}
.choices__list--dropdown {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 100%;
	margin-top: -1px;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	overflow: hidden;
	word-break: break-all;
	will-change: visibility;
	.choices__list {
		position: relative;
		max-height: 300px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		will-change: scroll-position;
	}
	.choices__item {
		position: relative;
		padding: 10px;
		font-size: 14px;
	}
	.choices__item--selectable.is-highlighted {
		background-color: #f2f2f2;
		&::after {
			opacity: 0.5;
		}
	}
}
.choices__list[aria-expanded] {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	top: 100%;
	margin-top: -1px;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	overflow: hidden;
	word-break: break-all;
	will-change: visibility;
	.choices__list {
		position: relative;
		max-height: 300px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		will-change: scroll-position;
	}
	.choices__item {
		position: relative;
		padding: 10px;
		font-size: 14px;
	}
	.choices__item--selectable.is-highlighted {
		background-color: #f2f2f2;
		&::after {
			opacity: 0.5;
		}
	}
}
.is-active.choices__list--dropdown {
	visibility: visible;
}
.is-active.choices__list[aria-expanded] {
	visibility: visible;
}
.is-flipped {
	.choices__list--dropdown {
		top: auto;
		bottom: 100%;
		margin-top: 0;
		margin-bottom: -1px;
		border-radius: 0.25rem 0.25rem 0 0;
	}
	.choices__list[aria-expanded] {
		top: auto;
		bottom: 100%;
		margin-top: 0;
		margin-bottom: -1px;
		border-radius: 0.25rem 0.25rem 0 0;
	}
}
.choices__item {
	cursor: default;
}
.choices__item--selectable {
	cursor: pointer;
}
.choices__item--disabled {
	cursor: not-allowed;
	-webkit-user-select: none;
	user-select: none;
	opacity: 0.5;
}
.choices__heading {
	font-weight: 600;
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid #f7f7f7;
	color: gray;
}
.choices__button {
	text-indent: -9999px;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	&:focus {
		outline: none;
	}
}
.choices__input {
	display: inline-block;
	vertical-align: baseline;
	background-color: #f9f9f9;
	font-size: 14px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 0;
	max-width: 100%;
	padding: 4px 0 4px 2px;
	&:focus {
		outline: 0;
	}
	&::-webkit-search-decoration {
		display: none;
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
	&::-webkit-search-results-button {
		display: none;
	}
	&::-webkit-search-results-decoration {
		display: none;
	}
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	&::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
}
.choices__placeholder {
	opacity: 0.5;
}
@media (min-width: 640px) {
	.choices__list--dropdown {
		.choices__item--selectable {
			padding-right: 100px;
			&::after {
				content: attr(data-select-text);
				font-size: 12px;
				opacity: 0;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.choices__list[aria-expanded] {
		.choices__item--selectable {
			padding-right: 100px;
			&::after {
				content: attr(data-select-text);
				font-size: 12px;
				opacity: 0;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	[dir=rtl] {
		.choices__list--dropdown {
			.choices__item--selectable {
				text-align: right;
				padding-left: 100px;
				padding-right: 10px;
				&::after {
					right: auto;
					left: 10px;
				}
			}
		}
		.choices__list[aria-expanded] {
			.choices__item--selectable {
				text-align: right;
				padding-left: 100px;
				padding-right: 10px;
				&::after {
					right: auto;
					left: 10px;
				}
			}
		}
	}
}
